<div class="top_site">
  <div class="center-block top_elem">InsClone</div>
  <div class="center-block top_elem">友達の写真や動画をチェックしよう</div>
  <div class="center-block top_elem"><%= link_to "ログイン", new_session_path %></div>
  <div class="center-block top_elem"><%= link_to "新規登録", new_user_path %></div>
</div>
